

.aboutContainer{
	width: 96%;
	max-width: 900px;
	margin: 0 auto;
}




.aboutHeader{
	max-width: 70%;
	float: left;
	margin: 10px 0 4px 0;
}

.aboutContent{
	width: 100%;
	display: flex;
/*	align-items: stretch;
	flex-direction:column;*/
	align-items: flex-start;
	flex-direction:row;
	color: #666;
/*	margin-bottom: 30px;*/
}

.aboutContent img{
	width: 30%;
	max-width: 160px;
	height: auto;
	margin: 0 10px 0 0;

}

.aboutContent span{
	font-weight: bold;
	color: #333;
	font-size: 18px;
	display: block;
	margin: 0 0 6px 4px;
}

.aboutSocialIconsContainer{
	float: right;
	width: 116px; 
	text-align: right;
	margin-top: 10px;
	display: none;
}

@media only screen and (min-width: 600px) {
	.aboutContent img{
		width: 25%;
	}

	.aboutSocialIconsContainer{
		display: block;
	}



}/*end 768*/












