

.archiveContainer{
	width: 96%;
	max-width: 900px;
	height: auto;
	margin:0px auto;
	padding-top: 20px;
	display: block;
	overflow: hidden;
}

.archiveHeader{
	width: 100%;
}

.archive{
	width: 50%;
	float: left;
	text-align: center;
	margin: 0 auto 20px auto;
}

@media only screen and (min-width: 500px) {
	.archive{
		width:33.3%;
	}
}


@media only screen and (min-width: 768px) {
	.archive{
		width: 25%;
	}
}/*end 768*/


.archive img{
	width: 90%;
	height: auto;
	margin: 0 auto;	
	border: 1px solid #fff;
}
.archive img:hover{
	border: 1px solid #000;
}

.archive p{
	width: 90%;
	height: auto;
	text-align: left;
	margin: 0 auto;	
	font-size: 14px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
	text-decoration: none;
}

.archive p a{
	text-decoration: none;
	color: inherit;
}

.archive p a:hover{
	text-decoration: none;
	color: #000;
}


.archive p.date{
	font-size: 12px;
	color: #999;
	margin-top: 2px;
}
