.headerWide{
	display: none;
	width: 100%;
	height: auto;
	align-items: center;
  	justify-content: center;
  	background-image: url("../images/headerBG.jpg");
  	background-repeat: repeat-x;
}

.header{
	width: 100%;
	max-width: 900px;
	height: auto;
}
.header img{
	width: 100%;
	height: auto;
	display: block;
}

.navBarContainer{
	display: none;
	background-color: #000;
	align-items: center;
  	justify-content: center;
  	color: #fff;	
}

.navButton{
	display: flex;
	width: 100px;
	height: 40px;
	align-items: center;
	color: #b3b3b3;
	text-decoration: none;
	justify-content: center;
	transition: color 0.3s ease;
}
.navButton:hover{
	color: #fff;
}


/* //////////////////////////////////////START MOBILE NAV/////////////////////////////////////  */
.mobileHeader{
	width:100%;
	height: auto;
	border-bottom:1px solid #909090;
	display: inline-block;
	position: relative;
}

.mobileHeader > a{
	width:165px;
	height: 29px;
	margin:8px 0 6px 2%;
	float: left;
}

.mobileNavButton{
	width: 36px;
	height: 29px;
	border-radius: 4px;
	border:1px solid #6c6c6c;
	float: right;
	margin:6px 2% 6px 0;
	background-color:#252525;
	background-image: url("../images/mobileButtonBG.png");
	cursor: pointer;
}

.mobileNavButton:active{
	background-color:#505050;
}




.mobileNav{
	background-color:#252525;
	width: 190px;
	height: auto;
	position: absolute;
	z-index: 10px;
	top: 38px;
	right: 2%;
	border:1px solid #6c6c6c;
	display: none; /*will show with jquery slideToggle()*/
}

.mobileNav p{
	width: 100%;
	height: auto;
	border-bottom:1px solid #6c6c6c;
	margin:0;
	padding: 0;
	float: left;
}

.mobileNav p:active{
	background-color: #505050;
}


.mobileNav p a{
	width: 96%;
	height: auto;
	margin:0 auto;
	padding: 20px 0;
	float: left;
	text-align: right;
	color: #ccc;
	text-decoration: none;
}

.mobileNav > .mobileNavSocial{
	width: 96%;
	height: auto;
	/*background: orange;*/
	float: left;
	display: inline-block;
}

.mobileNav >.mobileNavSocial a{
	width: 32px;
	height: 32px;
	display: block;
	float: right;
	margin:6px 0 6px 8px;

}
.mobileNav > .mobileNavSocial> a> img{
	width: 100%;
	display: block;
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}

.mobileNav > .mobileNavSocial> a> img:active{
	 -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  	filter: grayscale(0);
}


@media only screen and (min-width: 768px) {

.mobileHeader{
	display: none;
}

.headerWide{
	display: flex;
}

.navBarContainer{
	display: flex;
}

}/*end 768*/











