
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}


body{
	font-family: 'Lato', sans-serif;
	margin:0 0 20px 0;
	background-color: 
}



h1{
	font-size: 26px;
	text-align: left;
/*	border-bottom: 3px solid #000;*/
	padding-bottom:2px;
	width: 96%;
	margin: 0 auto 10px auto;
/*	font-family: 'Lato Black', sans-serif;*/
	font-family: 'Paytone One', sans-serif;
	text-transform: uppercase;
}

h2{
	width: 50%;
	font-size: 18px;
	margin: 8px 0 4px 0;
	font-family: 'Lato Black', sans-serif;
	float: left;
}

h3{
	width: 100%;
	font-size: 20px;
	margin: 0 0 4px 0;
	font-family: 'Lato Black', sans-serif;
/*	border-bottom:3px solid #000;*/
	padding-bottom: 3px;
	font-family: 'Paytone One', sans-serif;
	text-transform: uppercase;
}



.container{
	display: flex;
	width: 100%;
	max-width: 900px;
	height: auto;
	margin:0px auto;
	padding-top: 20px;
}

.contentColumn{
	flex:3;
	/*justify-content: center;*/
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
}

.postTitle{
	max-width: 600px;
}

.categoryTitle {
	color:#666;
}



.post{
	width: 96%;
	margin-bottom:40px;
	max-width: 600px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

.postTopRow{
	float: left;
	width: 100%;
}
.post img{
	width: 100%;
}


.post p{
	width: 100%;
	font-size: 14px;
	margin:2px 0 0 0 ;
	color: #666;
	float: left;
	
}

.post p.date{
	margin-top:4px;
	color: #999;
	font-size: 12px;
}

.post > .categories{
	margin-top:6px;
	color: #000;
}

.post > .categories a{
	color: #666;
	text-decoration: none;
	font-size: 14px;
}

.post > .categories a:hover{
	text-decoration: underline;
}


.sideBar{
	flex:1;
	flex-flow: column nowrap;
	display: none;
}


@media only screen and (min-width: 768px) {
	.contentColumn{
		flex:3;
	}
	.sideBar{
		flex:1;
		display: block;
	}
}/*end 768*/







