.pagination{
	margin: 0 auto;
	width:100%;
	text-align: center;
	padding:0;
}

.pagination>.button{
	margin: 0 auto;
	display: inline-block;
	padding:6px 12px;
	margin: 4px;
	vertical-align: center;
	border: 1px solid #666;
	color: #666;
	text-decoration: none;
}

.pagination>.button:hover{
	background-color: #ccc;
	border: 1px solid #666;
	color: #000;
}

.pagination>.selected{
	background-color: #333;
	color: #fff;
	pointer-events: none;
}

.pagination>.dots{
	pointer-events: none;
	border: 1px solid #999;
	color: #999;
}