.randomContainer{
	margin: 40px 0 0 0;
	display: inline-block;
}

.randomContainerWidth{
	width:200px;
}

.randomContainer p{
	width:100%;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
}

.randomContainer p img{
	width:60px;
	height: 60px;
	position: absolute;
	top: -20px;
	left:-10px;
	pointer-events: none;
	opacity: 0;
	border: 2px solid #fff;
}

.randomContainer p a{
	padding-bottom: 8px; 
	font-size: 14px;
	text-decoration: none;
	color:#666;
	float: left;
	height: auto;
}

.randomContainer a:hover{
	color:#000;
}


