.socialIcons{
	align-items: right;
	width: 50%;
	height:32px;
	float: right;
}



.socialIcons p a{
	display: flex;
	align-items: left;
	width: 28px;
	height: 28px;
/*	align-self: flex-end;*/
}



.socialIcons a img{
	width: 100%;
}



.socialIcons p{
    display: inline-flex;
    vertical-align: bottom;
    width: auto!important;
    float: right;
/*    justify-content: flex-end;*/
    padding: 0;
    margin: 04px 0 0 10px;
    vertical-align: bottom;
}

@media only screen and (min-width: 768px) {
	.socialIcons p{
	    margin: 04px 0 0 4px;
	    height: 100%;
	}

	.socialIcons p a{
		width: 26px;
		height: 26px;
	}

}/*end 768*/



.spreadTheCause{
	width: 96%;
	height:36px;
}

.spreadTheCause p{
	width: 32px;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0 4px 0 0;
}
.spreadTheCause a{
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 4px;
}
